* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
#header {
  background-color: #075ba1;
  position: fixed;
  min-height: 70px;
  top: 0;
  display: flex;
  align-items: center;
  text-align: right;
  padding-left: 20vh;
}
#page-wrapper {
  position: relative;
}
#header-img {
  width: 200px;
  margin-right: 40rem;
}

nav > ul {
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #1ab8df;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 200px;
}
#form {
  flex-direction: column;
  display: flex;
}

#hero h2 {
  color: #1ab8df;
  padding-bottom: 10px;
}

#form #email {
  border: 2px solid #075ba1;
  border-radius: 1px;
  width: 20rem;
  height: 30px;
  margin-bottom: 15px;
  align-content: center;
}

#form #submit {
  width: 10rem;
  height: 30px;
  margin-left: 80px;
  border: 0;
  background-color: #075ba1;
  font-family: bold;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#feacture {
  margin-top: 50px;
}
.grid {
  display: flex;
}
.icon {
  padding-right: 10px;
}

#feacture .desc {
  display: flex;
  flex-direction: column;

  height: 125px;
  width: 80vw;
  padding: 5px;
}

#How-it-works {
  padding-top: 6rem;
  display: flex;
  position: static;
  justify-content: center;
}

iframe {
  width: 40rem;
  height: 20rem;
}

#pricing {
  display: flex;
  position: absolute;
  margin-left: 11rem;
  margin-top: 6rem;
}

.product {
  border: 1px solid #075ba1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
}

.product .level {
  background-color: #075ba1;
  width: 200px;
  padding: 15px 0;
  color: white;
}
.btn {
  background-color: #075ba1;
  border: 0 solid;
  padding-top: 3px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 9px;
}
footer {
  background-color: #075ba1;
  margin-top: 21rem;
  position: relative;
  padding-top: 10px;
  flex-direction: row-reverse;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

li a {
  margin-right: 20px;
}

li {
  list-style: none;
}
span {
  margin-top: 15px;
  margin-left: 30px;
}
